.App {
  text-align: center;
  background-color: var(--lightblue-color);
}

nav{
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: baseline;
  
}



ul{
  display: flex;
  
}

ul li{
  list-style: none;
  
}

ul li a{
  text-decoration: none;
  color: white;
}